include ../../components/teamCard/teamCard.pug

section.section.team
  .container.team__container
    h2.title.team__title команда
    .team__list
      each item in teamCards
        .team__item
          +teamCard(item.src, item.srcRetina, item.name, item.proffesion, item.desc)