// Font

$mainFont                : 'Play', Helvetica, Arial, sans-serif;

// Mobile first

$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

// Size

$mainFontSize            : 16px;
$tabletFontSize          : 15px;
$mobileFontSize          : 14px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.42;

// Font color

$mainfont-color          : #ffffff;
$secondfont-color        : #f5f5f5;

// Main color

$default-color           : #000000;
$main-color              : #ffffff;

// Element color

$elem-color              : #e01f3d;
$elem-hover-color        : #ca1b36;
$price-color             : #0d0d0d;
$structure-color         : #6e6e6e;
$teamcard-color          : #281e1e;
$line-color              : #303030;
$accordion-bg-color      : #333537;
$neutral-icon-color      : #f5f5f5;
$form-text-color         : #f8faf9;
$player-elem-color       : #efebeb;

// Neutral Color

$neutral-default-color         : #666666;
$neutral-second-color           : #999999;