.header {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  &__container {
    width: 940px;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    padding: rem(18) 0;
  }
}
