.why {
  &__container {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: rem(15) solid transparent;
      border-right: rem(15) solid transparent;
      border-top: rem(30) solid $elem-color;
      transform: rotate(45deg);
      bottom: rem(-23);
      left: 0;
    }
  }
  &__title {
    text-align: center;
  }
  &__second-title {
    text-align: center;
    width: 100%;
    @include font-source (rem(18), 400, $neutral-default-color);
    margin-bottom: rem(30);
    @include media-tablet {
      width: 80%;
      margin-bottom: rem(70);
    }
    @include media-laptop {
      width: 65%;
      margin-bottom: rem(58);
    }
  }
  &__list {
    width: 100%;
    display: block;
    @include media-tablet {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__item {
    position: relative;
    @include flex-center;
    flex-direction: row;
    margin-bottom: rem(30);
    &:last-child {
      margin-bottom: 0;
      &::after {
        display: none;
      }
    }
    @include media-tablet {
      flex-direction: column;
      width: rem(290);
      margin-bottom: 0;
    }
    @include media-laptop {
      &::after {
        content: url('../img/points.png');
        position: absolute;
        left: 95%;
        top: 20%;
      }
    }
  }
  &__picture {
    @include flex-center;
    width: rem(125);
    height: rem(125);
    border-radius: 50%;
    background-color:$neutral-icon-color;
    margin-bottom: 0;
    @include media-tablet {
      margin-bottom: rem(30);
    }
    @include media-laptop {
      margin-bottom: rem(23);
    }
  }
  &__icon {
    width: 50%;
  }
  &__content {
    flex-basis: 70%;
    padding-left: rem(15);
    @include media-laptop {
      padding-left: 0;
    }
  }
  &__text {
    display: block;
    @include font-source (rem(24), 700);
    text-align: center;
    margin-bottom: rem(7);
  }
  &__desc {
    text-align: left;
    @include font-source (rem(16), 400, $neutral-default-color);
    @include media-tablet {
      text-align: center;
    }
  }
}