.why {
  &__container {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: rem(15) solid transparent;
      border-right: rem(15) solid transparent;
      border-top: rem(30) solid $elem-color;
      transform: rotate(45deg);
      bottom: rem(-23);
      left: 0;
    }
  }
  &__title {
    text-align: center;
    width: rem(571);
    @include font-source (rem(18), 400, $neutral-default-color);
    margin-bottom: rem(52);
  }
  &__list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    width: rem(290);
    @include flex-center;
    flex-direction: column;
    &::after {
      content: url('../img/points.png');
      position: absolute;
      left: 100%;
      top: 20%;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
  &__picture {
    @include flex-center;
    width: rem(125);
    height: rem(125);
    border-radius: 50%;
    background-color:$neutral-icon-color;
    margin-bottom: rem(30);
  }
  &__icon {
    width: 50%;
  }
  &__text {
    @include font-source (rem(24), 700);
    margin-bottom: rem(10);
  }
  &__desc {
    text-align: center;
    @include font-source (rem(16), 400, $neutral-default-color);
  }
}