.hero {
  height: 100vh;
  background-color: $secondfont-color;
  @include media-tablet-horizontal {
    height: 100%;
    padding: rem(20) 0;
  }
  &__container {
    position: relative;
    z-index: 1;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 40px;
      height: 10px;
      background-color: $neutral-second-color;
      transform: rotate(-45deg);
      bottom: -6px;
      right: 5%;
    }
    @include media-laptop {
      align-items: flex-start;
    }
  }
  &__content {
    text-align: center;
  }
  &__title {
    width: 100%;
    margin-bottom: rem(20);
    line-height: 1.2;
    @include media-laptop {
      width: rem(391);
      text-align: left;
    }
  }
  &__text {
    width: 100%;
    @include font-source (rem(18), 400);
    margin-bottom: rem(39);
    @include media-tablet {
      font-size: rem(22);
      width: 60%;
      margin: 0 auto;
      margin-bottom: rem(39);
    }
    @include media-laptop {
      width: 65%;
      margin: 0;
      text-align: left;
      font-size: rem(18);
      margin-bottom: rem(40);
    }
  }
  &__btn {
    @include media-laptop {
      text-align: left;
    }
  }
  &__list {
    display: none;
    margin-top: rem(94);
    @include media-laptop {
      display: flex;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    margin-right: rem(40);
    &:last-child {
      margin-right: 0;
    }
  }
  &__item-icon {
    width: rem(44);
    height: rem(44);
    padding-right: rem(5);
  }
  &__item-text {
    width: rem(97);
    @include font-source (rem(16), 400);
  }
  &__picture {
    position: relative;
    overflow: hidden;
    width: rem(287);
    height: rem(287);
    border-radius: 50%;
    @include media-custom(375px) {
      width: rem(350);
      height: rem(350);
    }
    @include media-tablet {
      width: rem(487);
      height: rem(487);
    }
    @include media-laptop {
      position: absolute;
      right: 0;
      z-index: 10;
    }
  }
  &__img {
    object-fit: cover;
    object-position: center;
  }
}