.input {
  &__area {
    display: block;
    width: 100%;
    border: none;
    padding: 1.2rem;
    transition: outline .1s;
    &:focus {
      outline: 3px solid $elem-color;
      transition: outline .1s;
    }
  }
  &__text {
    display: block;
    @include font-source (rem(18), 400, $form-text-color);
  }
}