
mixin form-checkbox(name, value, text)
  label.checkbox
    input.checkbox__input(name= name value= value type="checkbox")
    .checkbox__content
      .checkbox__fake
      span.checkbox__text= text
