.checkbox {
  &__content {
    @include flex-center;
    @include media-laptop {
      justify-content: flex-start;
    }
  }
  &__fake {
    position: relative;
    width: rem(24);
    height: rem(24);
    background-color: $main-color;
    margin-right: 2%;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: rem(12);
      height: rem(12);
      opacity: 0;
      background-color: $elem-color;
      transition: opacity .2s;
    }
  }
  &__input {
    opacity: 0;
    position: absolute;
    &:checked + .checkbox__content .checkbox__fake::before {
      opacity: 1;
      transition: opacity .2s;
    }
  }
  &__text {
    color: $main-color;
  }
}