.slider {
  background-color: $secondfont-color;
  &__container {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: rem(25);
      height: rem(25);
      background-color: $default-color;
      transform: rotate(30deg);
      bottom: rem(-30);
      right: 0;
    }
  }
}