.slider {
  background-color: $secondfont-color;
  &__container {
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: rem(37);
      height: rem(37);
      background-color: $default-color;
      transform: rotate(40deg);
      bottom: rem(-35);
      right: 0;
    }
  }
}