.video {
  background-color: $secondfont-color;
  &__container {
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      bottom: rem(-20);
      height: 0;
      width: 80px;
      border-bottom: 40px solid $elem-color;
      border-left: 25px solid transparent;
      border-right: 25px solid transparent;
      transform: rotate(-25deg);
    }
  }
  &__title {
    margin-bottom: rem(17);
  }
}