extends layouts/default
include helpers/mixins

block variables
	- const title = "beats"
	-
		const items = [
			{name: 'О нас', href: '#'},
			{name: 'Наушники', href: '#'},
			{name: 'Команда',href: '#'},
			{name: 'Цвета',href: '#'},
			{name: 'Отзывы',href: '#'},
			{name: 'Как мы работаем',href: '#'},
			{name: 'Контакты',href: '#'},
		]
	-
		const heroList = [
			{id: '#noise', text: 'Безупречный звук'},
			{id: '#charging', text: 'До 40 часов работы'},
			{id: '#plug', text: 'Технология Fast Fuel'}
		]
	-
		const whyList = [
			{id: '#battery', text: '40 часов работы', desc: 'Наушники Beats Solo3 могут работать до 40 часов без подзарядки, чтобы вы могли пользоваться ими каждый день.'},
			{id: '#sound', text: 'Фирменное звучание', desc: 'Фирменное звучание Beats в наушниках с технологией Bluetooth класса 1 будет сопровождать вас повсюду — куда бы вы ни отправились.'},
			{id: '#time', text: 'Быстрая зарядка', desc: 'Благодаря технологии Fast Fuel всего через 5 минут зарядки вы сможете слушать музыку ещё 3 часа.'}
		]
	-
		const slideList = [
			{	src: '../img/slider/MX452_AV3.png', srcRetina: '../img/slider/MX452_AV3@2x.png 1.25x, ../img/slider/MX452_AV3@3x.png 2.25x',
				structure:
				[
					{id: '#bluetooth', text: 'Bluetooth', value: '4.0'},
					{id: '#road', text: 'Дальность', value: '10м'},
					{id: '#charger', text: 'Зарядка', value: '2ч'},
					{id: '#kg', text: 'Вес', value: '215гр'},
					{id: '#patent', text: 'Гарантия', value: '1год'}
				], title: 'beats solo 3. цвет «атласное серебро»', exercise: '2 часа', weight: '215 грамм', price: '14990 р'},
			//- {	src: '../img/slider/MV8T2_AV3.png', srcRetina: '../img/slider/MV8T2_AV3@2x 1.25x, ../img/MV8T2_AV3@3x.png 2.25x',
			//- 	structure:
			//- 	[
			//- 		{id: '#bluetooth', text: 'Bluetooth', value: '4.0'},
			//- 		{id: '#road', text: 'Дальность', value: '12м'},
			//- 		{id: '#charger', text: 'Зарядка', value: '3ч'},
			//- 		{id: '#kg', text: 'Вес', value: '215гр'},
			//- 		{id: '#patent', text: 'Гарантия', value: '1год'}
			//- 	], title: 'beats solo pro. цвет «красный цитрус»', exercise: '2 часа', weight: '215 грамм', price: '14990 р'}
		]
	-
		const teamCards = [
			{src: '../img/team/boris.png', srcRetina: '../img/team/boris@2x.png 1.25x, ../img/team/boris@3x.png 2.25x', name: 'Борис Федорович', proffesion: 'Главный технолог', desc: 'Отвечает за вкусовые качества и калорийность.'},
			{src: '../img/team/alla.png', srcRetina: '../img/team/alla@2x.png 1.25x, ../img/team/alla@3x.png 2.25x', name: 'Алла Иванова', proffesion: 'Специалист по упаковке', desc: 'Автор запоминающегося стиля наших батончиков.'},
			{src: '../img/team/kirill.png', srcRetina: '../img/team/kirill@2x.png 1.25x, ../img/team/kirill@3x.png 2.25x', name: 'Кирилл Матросов', proffesion: 'Дизайнер', desc: 'Разработал дизаннаушников beats solo 3.'},
			{src: '../img/team/mila.png', srcRetina: '../img/team/mila@2x.png 1.25x, ../img/team/mila@3x.png 2.25x', name: 'Мила Рыжкова', proffesion: 'PR, маркетинг', desc: 'По всем вопросам сотрудничества и рекламы писать только Миле.'}
		]
	-
		const accordionList = [
			{color: '#999999', name: '«Атласное серебро»'},
			{color: '#151515', name: '«Чёрный матовый»'},
			{color: '#e01f3d', name: '«Красный цитрус»'}
		]

	-
		const commentsList = [
			{src: '../img/comments/billi.png', srcRetina: '../img/comments/billi@2x.png 1.25x, ../img/comments/billi@3x.png 2.25x', header: 'Отличный звук', text: 'Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это приятно и удобно.', user: 'Билли Айлиш'},
			{src: '../img/comments/vadim.png', srcRetina: '../img/comments/vadim@2x.png 1.25x, ../img/comments/vadim@3x.png 2.25x', header: 'Крутой дизайн', text: 'После тренировок всегда хочется быстро закинуться чем-то белковым, потому что до дома ещё нужно доехать. А кушать хочется. Протеиновые батончики всегда выручают в этом плане. Спасибо производителю за этот качественный и экологичный продукт. ', user: 'Вадим Грачёв'},
			{src: '../img/comments/mariya.png', srcRetina: '../img/comments/mariya@2x.png 1.25x, ../img/comments/mariya@3x.png 2.25x', header: 'Надолго хватает заряда', text: 'Батончики понравились. На мой взгляд слегка завышена цена по сравнению с конкурентами, однако, как говорится – оно того стоит. Нравится носить с собой, нравится держать в руке. Ну и конечно же, кушать. Идеально утоляют голод, хоть и не надолго. Через час уже ем ещё один. Но это скорее плюс, чем минус.', user: 'Мария Орлова'}
		]

block content
	.wrapper
		main.main
			include ../blocks/modules/hero/hero
		include ../blocks/modules/why/why
		include ../blocks/modules/slider/slider
		include ../blocks/modules/team/team
		include ../blocks/modules/accordion/accordion
		include ../blocks/modules/comments/comments
		include ../blocks/modules/video/video
		include ../blocks/modules/form/form

block scripts
	script(src="js/main.js")
