extends layouts/default
include helpers/mixins

block variables
	- const title = "beats"
	-
		const items = [
			{name: 'О нас', href: '#'},
			{name: 'Наушники', href: '#'},
			{name: 'Команда',href: '#'},
			{name: 'Цвета',href: '#'},
			{name: 'Отзывы',href: '#'},
			{name: 'Как мы работаем',href: '#'},
			{name: 'Контакты',href: '#'},
		]
	-
		const heroList = [
			{id: '#noise', text: 'Безупречный звук'},
			{id: '#charging', text: 'До 40 часов работы'},
			{id: '#plug', text: 'Технология Fast Fuel'}
		]

block content
	.wrapper
		main.main
			include ../blocks/modules/hero/hero
block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
