.form {
  background: #000000;
  background: -webkit-linear-gradient(to top, #434343, #000000);
  background: linear-gradient(to top, #434343, #000000);
  color: $main-color;
  &__title {
    color: $main-color;
    margin-bottom: rem(49);
  }
  &__box {
    display: flex;
    width: 100%;
  }
  &__col {
    flex: 1;
    padding: 0 1.5%;
  }
  &__row {
    display: flex;
    margin: 0 -2%;
    margin-bottom: 4%;
    &--mb {
      margin-bottom: rem(50);
    }
  }
  &__label-text {
    display: block;
  }
  &__label-input, &__label-textarea {
    display: block;
    width: 100%;
  }
  &__radio-group {
    display: flex;
  }
  &__btn {
    display: inline-block;
    border-radius: 26px;
    text-transform: uppercase;
    padding: rem(15) rem(35);
    @include font-source (rem(16), 700, $main-color);
    background-color: $btn-color;
    &:hover {
      box-shadow: 0px 0px 10px 0 rgba(255,255,255, .3);
    }
    &--clear {
      background-color: transparent;
      text-transform: none;
      @include font-source (rem(18), 400, $neutral-color);
    }
  }
}