.radio {
  &-group {
      display: flex;
  }
  &__input {
      position: absolute;
      opacity: 0;
      &:checked + .radio__content .radio__fake::after {
          opacity: 1;
      }
  }
  &__content {
      display: flex;
      align-items: center;
      margin-right: rem(16px);
  }
  &__fake {
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(24);
      height: rem(24);
      border-radius: 50%;
      background-color: $main-color;
      margin-right: 10px;
      &::after {
          content: "";
          display: block;
          width: rem(12);
          height: rem(12);
          background-color: $elem-color;
          border-radius: 50%;
          transition: .3s;
          opacity: 0;
      }
  }
  &__text {
      color: $main-color;
  }
}