.team-card {
  width: rem(220);
  @include flex-center;
  flex-direction: column;
  &__photo {
    min-height: rem(288);
    overflow: hidden;
    margin-bottom: rem(20);
  }
  &__img {
    object-fit: cover;
    object-position: center;
  }
  &__name {
    position: relative;
    @include font-source (rem(18), 700);
    margin-bottom: rem(8);
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: rem(5) solid transparent;
      border-right: rem(5) solid transparent;
      border-bottom: rem(10) solid $elem-color;
      right: rem(-20);
      top: 55%;
      transform: translateY(-50%);
    }
    &--active {
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-left: rem(5) solid transparent;
        border-right: rem(5) solid transparent;
        border-top: rem(10) solid $elem-color;
        right: rem(-20);
        top: 55%;
        transform: translateY(-50%);
      }
    }
  }
  &__profession {
    @include font-source (rem(16), 400, $teamcard-color);
    margin-bottom: rem(5);
  }
  &__desc {
    @include font-source (rem(16), 400, $neutral-default-color);
    text-align: center;
  }
}