.footer {
  &__container {
    display: flex;
    flex-direction: column;
    padding: rem(23) 0;
    @include media-tablet {
      flex-direction: row;
    }
  }
  &__col {
    width: 100%;
    text-align: center;
    margin-bottom: rem(20);
    &:last-child {
      margin-bottom: 0;
    }
    @include media-laptop {
      text-align: initial;
    }
  }
  &__adress {
    @include font-source (rem(18), 400);
  }
  &__pnone {
    @include font-source (rem(21), 400);
  }
  &__phone .phone {
    display: block;
  }
  &__socials {
    display: flex;
    justify-content: center;
    @include media-laptop {
      justify-content: flex-end;
    }
  }
}