.btn {
  display: inline-block;
  border-radius: 26px;
  text-transform: uppercase;
  padding: rem(15) rem(41);
  @include font-source (rem(16), 700, $main-color);
  background-color: $elem-color;
  &:hover {
    box-shadow: 0px 0px 10px 0 $default-color;
  }
}