.title {
  @include font-source (rem(48), 700, $default-color);
  text-transform: uppercase;
}

.section {
  height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}