.title {
  @include font-source (rem(48), 700, $default-color);
  text-transform: uppercase;
}

.section {
  height: 100vh;
  @include media-tablet-horizontal {
    height: 100%;
    padding: rem(40);
  }
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}