*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    @include media-laptop {
        font-size: $mainFontSize;
    }
    @include media-tablet {
        font-size: $tabletFontSize;
    }
      @include media-mobile {
        font-size: $mobileFontSize;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    background-color: $mainfont-color;
    color: $default-color;
    font-size: $mainFontSize;
    line-height: $mainLineHeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  width: 95%;
}