section.section.accordion
  h2.title.accordion__title цвета
  ul.accordion__list
    each item in accordionList
      li.accordion__item
        button.accordion__btn(style="background-color:" + item.color)
          span.accordion__name= item.name
        .accordion__content-wrap
          button.accordion__close
          .accordion__content
            p.accordion__text Наушники Beats Solo3 могут работать до 40 часов без подзарядки, чтобы вы могли пользоваться ими каждый день. 5‑минутной зарядки Fast Fuel хватит ещё на 3 часа воспроизведения. Фирменное звучание Beats в наушниках с технологией Bluetooth класса 1 будет сопровождать вас повсюду — куда бы вы ни отправились. Расположение чашек с мягкими амбушюрами можно регулировать — вы сможете носить их целый день.